/*used across all sizes and html pages*/
* {
	box-sizing: border-box;
}

html {
	background-color: white;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	scroll-behavior: smooth;
}

body, html {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}


main {
	width: 100%;
	height: 100%;
}

a {
	color: #609CE1;
}

/* fade in effects */
.slide1{
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
}

.hidden {
	display: none;
}

strong {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
	line-height: 1.7;
}



button {
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	background-color: #609CE1;
	color: #091D34;
	font-size: 18px;
	transition: all 0.3s ease;
	cursor: pointer;
}

button:hover {
	background-color: #091D34;
	color: white;
}

.navButton {

}

/*about.html specific styles*/
.bio > p {
	line-height: 2;
}

.bio {
	color: #091D34;
	width: 70%;
	margin: 0 auto;
	margin-top: 15%;
}

main > h1 {
	color: #091D34;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
	margin-top: 10%;
	line-height: 1.7;
}

/*projects.html specific styles*/

.project {
	width: 70%;
	height: 40%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}

.preview {
	width: 50%;
	height: 40%;
	margin: 0 auto;
	text-align: left;
	z-index: 35;
}



.hp {
	margin: 0 auto;
	width: 100%;
}

/*about.html & projects.html shared styles */
.navbar {
	list-style: none;
	text-align: center;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.contact {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


footer > h2 {
	color: #091D34;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
}
.box {
	height: 50px;
	width: 50px;
	margin: 20px;
}

.contact > a:hover {
	box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid #091D34;
}





/*mobile screen specific*/


.left-pane {
	display: none;
}

.right-pane{
	height: 100%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	color: #091D34;
}

.slide1 {
	margin-left: 30%;
}

footer {
	margin-top: 10%;
	margin-bottom: 10px;
}




/*for screens between 400px and 1050px*/
@media screen and (min-width: 500px) {


}


/*for screens 1050px and larger*/
@media screen and (min-width: 1000px) {

.left-pane {
	width: 33.3%;
	height: 100%;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #091D34;
	border-right: 3px solid #091D34;
}

.left-pane > img {
	height: 300px;
	width: 300px;
	border: 1px solid black;
}

.right-pane {
	width: 66.6%;
	height: 60%;
	position: relative;
	top: 20%;
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.slide1 {
	font-size: 3em;
	margin-top:;
	margin-left: 30%;
}

.slide2 {
	font-size: 2em;
	margin-right: 10%;
}

.startButton {

}


/* desktop about.html specific styles*/
.bio {
	width: 60%;
}

.bio > p {
	font-size: 24px;
}



}